.header-title {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  color: #d4a373;
}

.body-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100vh;
  /* Full viewport height */
  margin: 10px;
  box-sizing: border-box;
  background-color: #faedcd;
}

.scramble-container {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-spacing: 1%;
  transition: all 0.5s ease-in;
}

.game-container {
  display: flex;
  position: 10px;
  align-items: center;
  justify-content: center;
}

.scramble-button {
  width: 80px;
  padding: 10px;
  letter-spacing: 0.5px;
  font-size: 1rem;
  font-family: 'Arial', sans-serif, bold;
  border: none;
  border-radius: 5px;
  background-color: #d4a373;
  cursor: pointer;
}

.word-length-select {
  padding: 3px;
  font-size: 0.8rem;
  border-color: #d4a373;
  border-width: 2px;
  outline-color: #d86c00;
  position: absolute;
  left: 55%;
  /* Position it to the right of the button */
  transform: translateY(20%);
}

.timer-container {
  width: 1.2rem;
  height: 1.2rem;
  display: grid;
  border-radius: 10px;
  font: 1.2rem 'Arial', sans-serif, bold;
  place-items: center;
  padding: 10px;
  background-color: #d4a373;
}

.word-input {
  width: 20%;
  padding: 10px;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid #d4a373;
  outline-color: #d86c00;
  outline-width: 3px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

.scramble-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #d4a373;
  font-family: 'Verdana', sans-serif;
  font-weight: 500;
  border: none;
}

.solution-list {
  font-style: bold;
  font-size: 1.2rem;
}

.answer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-transform: uppercase;
  padding: 5px;
  gap: 10px;
}